@import "tailwindcss";


@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/PlaypenSansArabic-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/PlaypenSansArabic-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/PlaypenSansArabic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/PlaypenSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/PlaypenSansArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/PlaypenSansArabic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/PlaypenSansArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/PlaypenSansArabic-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --color-brand-pink: #d85790;
  --color-brand-light-pink: #fbe0ed;
  --color-brand-cyan: #3fc7b8;
  --color-brand-yellow: #f8db60;
  --color-text-dark: #4a4a4a;

  /* متغيرات الخطوط */
  --font-thin: 'Playpen Sans Arabic', sans-serif;
  --font-light: 'Playpen Sans Arabic', sans-serif;
  --font-regular: 'Playpen Sans Arabic', sans-serif;
  --font-medium: 'Playpen Sans Arabic', sans-serif;
  --font-semibold: 'Playpen Sans Arabic', sans-serif;
  --font-bold: 'Playpen Sans Arabic', sans-serif;
  --font-extrabold: 'Playpen Sans Arabic', sans-serif;
}

body {
  font-family: var(--font-regular);
  background-color: var(--color-brand-light-pink);
  color: var(--color-text-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bold);
  color: var(--color-brand-pink);
}