@import "tailwindcss";

:root {
  --color-brand-pink: #d85790; /* وردي أساسي من الشعار */
  --color-brand-light-pink: #fbe0ed; /* خلفية الشعار */
  --color-brand-cyan: #3fc7b8; /* أزرق سماوي من الشعار */
  --color-brand-yellow: #f8db60; /* أصفر من الشعار */
  --color-text-dark: #4a4a4a;
}

body {
  background-color: var(--color-brand-light-pink);
  color: var(--color-text-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--color-brand-pink);
}